In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from osgeo import gdal

In [2]:

folder=r'E:/rahul/processed_data/BT_18V'
BT_PATH=[]
for root, dirs, files in os.walk(folder):
    for names in files:
        full_path=os.path.join(root,names)
        BT_PATH.append(full_path)
        
Emiss_PATH=[]
folder=r'E:/rahul/processed_data/Derived_emissivity_18GHzV'
for root, dirs, files in os.walk(folder):
    for names in files:
        full_path=os.path.join(root,names)
        Emiss_PATH.append(full_path)

In [3]:
BT=[]
EMISS=[]
for i in range(30):
    BT_10V=gdal.Open(BT_PATH[i])
    BT_10V=(BT_10V.ReadAsArray().astype('float64'))/10
    BT_10V[BT_10V<=100.0]=np.nan
    BT_10V[BT_10V>=500.0]=np.nan
    BT.append((BT_10V[48:65,26:52]).reshape(-1))
    
    EM_10V=gdal.Open(Emiss_PATH[i])
    EM_10V=EM_10V.ReadAsArray()
    EMISS.append((EM_10V[48:65,26:52]).reshape(-1))

In [4]:
df=pd.DataFrame(columns=["BT_18V","EMISSIVTY_18V"])
for i in range(len(BT)):
    df1=pd.DataFrame({"BT_18V":BT[i],"EMISSIVTY_18V":EMISS[i]})
    df=df.append(df1,ignore_index=True)

In [5]:
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

In [6]:
df

      BT_18V  EMISSIVTY_18V
0      299.0       0.988770
1      301.7       0.941682
2      300.5       0.937347
3      301.9       0.934016
4      302.9       0.936391
...      ...            ...
7440   301.5       0.952231
7441   301.2       0.945379
7442   301.6       0.944287
7443   301.7       0.948215
7444   301.8       0.946616

[7445 rows x 2 columns]

In [7]:
df.to_csv('E:/rahul/processed_data/18VGHZdata.csv')