In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from osgeo import gdal

In [42]:

folder=r'E:\rahul\processed_data\BT_10V'
BT_PATH=[]
for root, dirs, files in os.walk(folder):
    for names in files:
        full_path=os.path.join(root,names)
        BT_PATH.append(full_path)
        
Emiss_PATH=[]
folder=r'E:/rahul/processed_data/Derived_emissivity_10GHzV'
for root, dirs, files in os.walk(folder):
    for names in files:
        full_path=os.path.join(root,names)
        Emiss_PATH.append(full_path)

In [43]:
BT=[]
EMISS=[]
for i in range(30):
    BT_10V=gdal.Open(BT_PATH[i])
    BT_10V=(BT_10V.ReadAsArray().astype('float64'))/10
    BT_10V[BT_10V<=100.0]=np.nan
    BT_10V[BT_10V>=500.0]=np.nan
    BT.append((BT_10V[48:65,26:52]).reshape(-1))
    
    EM_10V=gdal.Open(Emiss_PATH[i])
    EM_10V=EM_10V.ReadAsArray()
    EMISS.append((EM_10V[48:65,26:52]).reshape(-1))

In [44]:
df=pd.DataFrame(columns=["BT_10V","EMISSIVTY_10V"])
for i in range(len(BT)):
    df1=pd.DataFrame({"BT_10V":BT[i],"EMISSIVTY_10V":EMISS[i]})
    df=df.append(df1,ignore_index=True)

In [48]:
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

In [49]:
df

      BT_10V  EMISSIVTY_10V
0      296.4       0.980172
1      299.6       0.935128
2      297.8       0.928925
3      299.5       0.926591
4      300.6       0.929281
...      ...            ...
7473   298.9       0.944020
7474   298.9       0.938160
7475   300.1       0.939591
7476   301.1       0.946329
7477   301.9       0.946929

[7478 rows x 2 columns]

In [50]:
df.to_csv('E:/rahul/processed_data/10VGHZdata.csv')