In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from osgeo import gdal

# SM time series

In [16]:
folder=r'E:\rahul\processed_data\soil moisture'

In [17]:
SM_PATH=[]
for root, dirs, files in os.walk(folder):
    for names in files:
        full_path=os.path.join(root,names)
        SM_PATH.append(full_path)

In [18]:
profile1=[]
profile2=[]
profile3=[]
profile4=[]
profile5=[]
profile6=[]

In [19]:
for i in range(30):
    data=gdal.Open(SM_PATH[i])
    data=data.ReadAsArray()
    profile1.append((data[40,16]).round(4))
    profile2.append((data[51,37]).round(4))
    profile3.append((data[50,74]).round(4))
    profile4.append((data[17,40]).round(4))
    profile5.append((data[72,39]).round(4))
    profile6.append((data[84,25]).round(4))

In [20]:
df=(pd.DataFrame([profile1,profile2,profile3,profile4,profile5,profile6])).T

In [21]:
df

        0      1      2      3      4      5
0     NaN  0.105  0.108  0.098  0.095    NaN
1   0.040  0.107    NaN    NaN  0.092  0.090
2     NaN  0.105  0.105  0.107    NaN    NaN
3   0.039  0.103    NaN  0.101  0.093  0.089
4     NaN    NaN  0.107  0.112    NaN    NaN
5   0.038  0.099    NaN  0.098  0.090  0.086
6   0.041    NaN  0.106    NaN    NaN  0.085
7   0.041  0.097  0.110  0.102  0.090    NaN
8   0.049  0.096  0.111    NaN  0.089  0.086
9     NaN  0.092  0.108  0.105  0.091    NaN
10  0.047  0.092    NaN  0.104  0.087  0.084
11    NaN    NaN  0.106  0.111    NaN    NaN
12  0.046  0.091    NaN  0.097  0.087  0.082
13  0.054    NaN  0.105    NaN    NaN  0.081
14  0.052  0.086  0.109  0.086  0.087  0.085
15  0.051    NaN  0.107    NaN    NaN  0.086
16    NaN  0.085  0.103  0.091  0.106    NaN
17  0.051  0.086    NaN    NaN  0.097  0.084
18    NaN  0.086  0.159  0.093    NaN    NaN
19  0.049  0.086    NaN  0.091  0.091  0.083
20    NaN    NaN  0.115  0.097    NaN    NaN
21  0.045  0.083    NaN  0.088  0.089  0.086
22  0.046    NaN  0.117    NaN    NaN  0.087
23  0.046  0.082  0.112  0.083  0.087    NaN
24  0.046  0.080  0.121    NaN  0.086  0.088
25    NaN  0.080  0.107  0.086  0.088    NaN
26  0.046  0.079    NaN  0.083  0.084  0.088
27    NaN    NaN  0.102  0.090    NaN    NaN
28  0.043  0.080    NaN  0.079  0.084  0.087
29  0.050    NaN  0.099    NaN    NaN  0.087

In [9]:
df.to_csv('E:/rahul/processed_data/SM.csv')

# Emissivity time series

In [22]:
folder=r'E:\rahul\processed_data\Derived_emissivity_10GHzV'
EMIS_PATH=[]
for root, dirs, files in os.walk(folder):
    for names in files:
        full_path=os.path.join(root,names)
        EMIS_PATH.append(full_path)

In [23]:
profile1=[]
profile2=[]
profile3=[]
profile4=[]
profile5=[]
profile6=[]

In [24]:
for i in range(30):
    data=gdal.Open(EMIS_PATH[i])
    data=data.ReadAsArray()
    profile1.append((data[40,16]).round(4))
    profile2.append((data[51,37]).round(4))
    profile3.append((data[50,74]).round(4))
    profile4.append((data[17,40]).round(4))
    profile5.append((data[72,39]).round(4))
    profile6.append((data[84,25]).round(4))

In [25]:
df=(pd.DataFrame([profile1,profile2,profile3,profile4,profile5,profile6])).T

In [26]:
df.to_csv('E:/rahul/processed_data/Emiss_10V.csv')

In [27]:
df

         0       1       2       3       4       5
0      NaN  0.9374  0.9405  0.8837  0.9389     NaN
1   0.9401  0.9453     NaN     NaN  0.9402  0.9247
2      NaN     NaN  0.9470  0.9751     NaN     NaN
3   0.9206  0.9396     NaN  0.8804  0.9286  0.9199
4      NaN     NaN  0.9428  0.8734     NaN     NaN
5   0.9518  0.9331     NaN  0.8976  0.9294  0.9260
6   0.9336     NaN  0.9524     NaN     NaN  0.9272
7      NaN  0.9409  0.9645     NaN  0.9311     NaN
8      NaN     NaN     NaN     NaN  0.9348  0.9202
9      NaN  0.9466  0.9517     NaN  0.9403     NaN
10  0.9232  0.9506     NaN     NaN  0.9416  0.9205
11     NaN     NaN  0.9510     NaN     NaN     NaN
12     NaN  0.9366     NaN  0.9184     NaN  0.9261
13  0.9589     NaN  0.9486     NaN     NaN  0.9846
14  0.9462  0.9355     NaN     NaN  0.9337  0.9399
15  0.9552     NaN     NaN     NaN     NaN     NaN
16     NaN  0.9515     NaN     NaN     NaN     NaN
17  0.9442  0.9531     NaN     NaN  0.9323  0.9154
18     NaN  0.9567  0.9275     NaN     NaN     NaN
19  0.9246  0.9690     NaN  0.9167  0.9286  0.9183
20     NaN     NaN  0.9439  0.9119     NaN     NaN
21     NaN  0.9452     NaN  0.9072  0.9342     NaN
22  0.9346     NaN  0.9569     NaN     NaN     NaN
23  0.9382  0.9321  0.9695  0.9024  0.9399     NaN
24  0.9367  0.9618  0.9656     NaN  0.9458  0.9204
25     NaN  0.9495  0.9551  0.9171  0.9466     NaN
26  0.9302  0.9639     NaN  0.9461  0.9308  0.9185
27     NaN     NaN  0.9567     NaN     NaN     NaN
28  0.9379  0.9525     NaN  0.8929  0.9331  0.9251
29     NaN     NaN  0.9470     NaN     NaN  0.9373

# BT_10V

In [2]:
folder=r'E:\rahul\processed_data\BT_10V'

In [3]:
BT_PATH=[]
for root, dirs, files in os.walk(folder):
    for names in files:
        full_path=os.path.join(root,names)
        BT_PATH.append(full_path)

In [7]:
profile1=[]
profile2=[]
profile3=[]
profile4=[]
profile5=[]
profile6=[]
for i in range(30):
    BT_10V=gdal.Open(BT_PATH[i])
    BT_10V=(BT_10V.ReadAsArray().astype('float64'))/10
    BT_10V[BT_10V<=100.0]=np.nan
    BT_10V[BT_10V>=500.0]=np.nan
    profile1.append((BT_10V[40,16]).round(4))
    profile2.append((BT_10V[51,37]).round(4))
    profile3.append((BT_10V[50,74]).round(4))
    profile4.append((BT_10V[17,40]).round(4))
    profile5.append((BT_10V[72,39]).round(4))
    profile6.append((BT_10V[84,25]).round(4))

In [8]:
df=(pd.DataFrame([profile1,profile2,profile3,profile4,profile5,profile6])).T

In [9]:
df.to_csv('E:/rahul/processed_data/BT_10V.csv')